.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .pagination button {
    padding: 10px 15px;
    margin: 0 5px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pagination button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
  }
  
  .pagination button:hover:not(:disabled) {
    background-color: #1F87C8;
  }
  
  .pagination .active {
    background-color: #133A52;
  }