.input{
    font-family: Arial, sans-serif;
    width: 100%;
    outline: none;
    border: none;
    font-size: 1vw;
    border-radius: 0.5vw;
}
.input::placeholder{
    color: #999;
    font-size: 1vw;
}

.input-error{
    border: 1px solid red;
    margin-bottom: 5px;
}

.input-error-text{
    font-size: 0.8vw;
    color: red;
    padding-left: 12px;
}